@import url("https://fonts.googleapis.com/css?family=Lexend+Deca|Space+Mono:400,700&display=swap");
html,body{
  height: 100%;
}
body{
  margin:0;
  font-family: "Lexend Deca", sans-serif;
  font-size: 1.5rem;
  background-color: white;
  color: #939caa; /*dim grey*/
}

h1,h2,h3,h4,h5,h6{

}
.home-image{
  color: white;
}
h1{
  font-weight: bold;
  font-family: "Space Mono", monospace;
}
.home_container{
  overflow: hidden;
}
.article_container {

}
.scootin:hover{
  outline: none;
  color: #fcb72b;
  background-color: transparent;
  border-color: #fcb72b;
}
/*Styling for resolution of large devices like laptops and desktops*/
  @media (min-width: 768px) {
    nav{
      margin:0;
      height: 100px;
      border-bottom: 1px solid grey;
      font-family: "Space Mono", monospace;
    }
.navbar-item{
  padding: 20px;

}
.logo{
  margin-left: 10px;
  float: left;
  margin-right: 30px;
}
ul{
  list-style-type: none;
}
a{
color: #939caa; /*dim grey*/
}
a:hover{
  color:#FCB72B;
  text-decoration: none;
}
.tabs li {
  padding-top: 12px;
  font-size: 65%;
  font-weight: bold;
  display: inline;
  float: left;
  margin: 5px;
  padding-right: 8px;
}
.scootin{
  font-family: "Space Mono", monospace;
  height: 53px;
  width: 180px;
  text-align: center;
  float: right;
  margin-right: 3%;
  background-color : #FCB72B;
  color: white;
  font-size: 65%;
  font-weight: bold;
  border : 3px solid #FCB72B;
  margin-top: -35px;
  padding: 0;
}
.sidebar , .sidebar-container{
  display: none;
}



}
@media (min-width:1500px) {
  .home-image{
    background-image: url("assets/images/home-hero-desktop.jpg");
    background-size: cover;
    height: 650px;
    width: 100%;
      }
      #home-heading{
        padding-top: 4%;
        width: 650px;
        padding-left: 7%;
      }
      #home-head{
        font-size: 235%;
      }
      #home-text{
        font-size: 68%;
        padding-top: 2%;
        width: 600px;
        padding-left: 10%;
      }
      #home-line{
        position: relative;
        top:80px;
        left:-80px;
      }
      #home-arrow{
        position: absolute;
        width: 447px;
        height: 138px;
        z-index: 0;
        right: 250px;
        margin-top: -10px;
      }
      .circles{
        width: 234px;
        height: 63px;
        float: right;
        padding-top: 50px;
        margin-right: -40px;
      }
      .scoot-button{
        position: absolute;
        height: 53px;
        width: 180px;
        margin-top: 70px;
        margin-left: 220px;
      }
}
@media (min-width:1024px) and (max-width:1500px){
.home-image{
  background-image: url("assets/images/home-hero-desktop.jpg");
  background-size: cover;
  height: 650px;
  width: 100%;
    }
    #home-heading{
      padding-top: 12%;
      width: 650px;
      padding-left: 7%;
    }
    #home-head{
      font-size: 235%;
    }
    #home-text{
      font-size: 64%;
      padding-top: 3%;
      width: 600px;
      padding-left: 15%;
    }
    #home-line{
      position: relative;
      top:80px;
      left:-80px;
    }
    #home-arrow{
      position: absolute;
      width: 447px;
      height: 138px;
      z-index: 0;
      right: 250px;
      margin-top: -10px;
    }
    .circles{
      width: 234px;
      height: 63px;
      float: right;
      padding-top: 50px;
      margin-right: -40px;
    }
    .scoot-button{
      position: absolute;
      height: 53px;
      width: 180px;
      margin-top: 70px;
      margin-left: 220px;
    }
  }
@media (min-width:767.98px) and (max-width: 1023.98px) {
  .home-image{
    background-image: url("assets/images/home-hero-tablet.jpg");
    background-size: cover;
    height: 650px;
      }


    .home_container{
      text-align: center;
      margin: auto;
        width: 100%;
        display: block;
    }
    #home-heading{
      padding-top: 13%;
      width: 500px;
      height: 112px;
      margin: 0 24%;
    }
    #home-head{
      font-size: 225%;
      line-height: 90%;
    }
    #home-text{
      font-size: 64%;
      margin-top: 125px;
      width: 573px;
      height: 75px;
      margin: 125px 20% 50px  20%;
    }
    #home-line{
    display: none;
    }
    .arrow{
      float: left;
    }
    #home-arrow{
      position: absolute;
      width: 447px;
      height: 138px;
      top: 600px;
    }
    .circles{
      width: 234px;
      height: 63px;
      float: right;
      padding-top: 180px;
      margin-right: -40px;
    }
    .scoot-button{
      position: absolute;
      height: 53px;
      width: 180px;
      margin: 10px 42%;
    }
  }
  @media (max-width: 767.97px) {
    .home-image{
      background-image: url("assets/images/home-hero-mobile.jpg");
      background-size: cover;
      height: 650px;
      width: 100%;
        }

    }
  @media (min-width:600px) and (max-width: 767.97px) {
    .home_container{
      text-align: center;
      margin: auto;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    #home-heading{
      margin-top: 60px;
      padding-top: 17%;
      width: 436px;
      height: 80px;
      margin-left: 15%;
    }
    #home-head{
      font-size: 165%;
      line-height: 90%;
    }
    #home-text{
      font-size: 64%;
      width: 436px;
      height: 100px;
      margin: 100px 15% 34px 15%;
    }
    #home-line{
    display: none;
    }
    .arrow{
      float: left;
    }
    #home-arrow{
      position: absolute;
      width: 447px;
      height: 138px;
      top: 440px;
      margin-left: -30%;
      margin-right: 30%;
    }
    .circles{
    display: none;
    }
    .scoot-button{
      position: absolute;
      height: 53px;
      width: 180px;
      margin: 0 20%;
    }
  }
@media  (max-width:599.98px){
  .home_container{
    text-align: center;
    margin: auto;
      width: 100%;
    display: flex;
    justify-content: center;
  }
  #home-heading{
    padding-top: 25%;
    width: 436px;
    height: 80px;
    margin: 60px 5% 0px 7%;
  }
  #home-head{
    font-size: 165%;
    line-height: 90%;
  }
  #home-text{
    font-size: 64%;
    width: 380px;
    height: 100px;
    margin: 100px 10% 50px 10%;
  }
  #home-line{
  display: none;
  }
  .arrow{
    float: left;
  }
  #home-arrow{
    position: absolute;
    width: 447px;
    height: 138px;
    top: 440px;
    margin-left: -58%;
    margin-right: 30%;
  }
  .circles{
  display: none;
  }
  .scoot-button{
    position: absolute;
    height: 53px;
    width: 180px;
    margin: 0 5%;
  }
}
@media (max-width:434px){
  .home_container{
    text-align: left;
    margin: auto;
      width: 100%;
    display: flex;
    justify-content: center;

  }
  #home-heading{
    padding: 20%  0 0 20px;
    width: 350px;
    height: 80px;
    margin: 60px 1% 0px 1%;

  }
  #home-head{
    font-size: 100%;
    line-height: 90%;

  }
  #home-text{
    font-size: 64%;
    width: 300px;
    height: 100px;
    margin: 50px 5% 70px 2%;
    padding: 20px;
  }
  #home-line{
  display: none;
  }
  .arrow{
    float: left;
  }
  #home-arrow{
    position: absolute;
    width: 447px;
    height: 138px;
    top: 440px;
    margin-left: -78%;
    margin-right: 30%;
  }
  .circles{
  display: none;
  }
  .scoot-button{
    position: absolute;
    height: 53px;
    width: 100px;
    right: 230px;
    margin: 30px 50px 30px 50px;
  }
}
/*Styling for resolution of small devices like phones and tablets*/
@media (max-width: 767.98px) {
  .navbar-item{
    display: none;
  }
  .sidebar-container{
    position: fixed;
    top: 0;
    text-align: center;
    background: white;
    display: block;
    height: 70px;
    width: 100%;
    z-index: 1;
  }
  /* The sidebar menu */
  .sidebar {
    height: calc(100% - 70px); /* 100% Full-height */
    width: 0px; /* 0 width - change this with JavaScript */
    position: fixed;
    top: 70px;
    float: left;
    text-align: left;
    z-index: 1;
    background-color: #333A44; /* Black*/
    overflow: hidden; /* Disable horizontal scroll */
    padding-top: -20px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  #hamburger{
    float: left;
    margin-top: -60px;
    padding: 30px;
  }
  .logo{
    margin-left: 2%;
    padding:10px;
  }
  .close{

    position: absolute;
    top:2%;
    right: 5%;
  }
  a{
  color: #fff;

  }
  a:hover{
    color:#FCB72B;
    text-decoration: none;
  }
  .tabs  {
    padding-top: 12px;
    padding-left: 2.5rem;
    font-size: 65%;
    font-weight: bold;
    margin: 5px;
    padding-right: 8px;
    transition: 0.3s;
  }
  .scootin{
    position: absolute;
    bottom: 0;
    height: 53px;
    width: 180px;
    text-align: center;
    margin: 2rem 0 2rem 2.5rem;
    background-color : #FCB72B;
    color: white;
    font-size: 65%;
    font-weight: bold;
    border : 3px solid #FCB72B;
    padding: 0;
  }
}

.steps {
  width: 100%;
  height: 650px;
  background-color: white;

}
.step_copy p {
  font-size: 65%;
}
.step_copy h4{
  color: #495567;
  font-family:"Space Mono", monospace;
  font-weight: bold;
  margin-bottom: 20px;
}
@media (min-width:1190px) {
  .vertical-line {
    display: none;
  }
  .step-container{
  position: relative;
  top: 30%;
  z-index: 0;
  }
  .steps {
      display: flex;

  }
  .step-icons {
    float: left;
    display: inline;
  margin-top: -65px;
  margin-left: 50px;
  }
  .not-first{
      margin-left: 270px;
  }
  .step_copy{
    position: absolute;
    top: 60px;
    width: 350px;
    height: 100px;
    margin: 50px 10px 50px 50px;
  }

  .scooter {
    margin-left: 300px;
  }
  .ride {
    margin-left: 250px;
    margin-right: 0px;
  }
}

@media (min-width:768px) and (max-width: 1189.98px) {
  .horizontal-line {
    display: none;
  }
  .step-container{
  position: relative;
  display: flex;
  justify-content: space-around;
  }
  .vertical-line{
     margin-left: 20%;

  }

    .steps_wrap{
      float: left;
    }
  .step-icons {
  margin:100px 20px 0px -55px;
  left:0;

  }
  .step_copy{
    position: absolute;
    width: 400px;
    height: 100px;
    margin: -100px 10px 50px 100px;
  }
}

@media (max-width: 767.98px) {
  .horizontal-line {
    display: none;
  }
  .vertical-line {
    display: none;
  }
  .step-container{
    height: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  text-align: center;
  }

  .step-icons {
  margin:80px 0;

  }
  .step-icons img{
    width: 56px;
    height: 56px;
  }
  .not-first{
    margin-top: 130px;
  }
  .step_copy{
    position: absolute;
    width: 80%;
    height: 100px;
    margin: -40px 10% 50px 10% ;
  }
}
.learn-more{
  font-family: "Space Mono", monospace;
  height: 53px;
  width: 180px;
  text-align: center;
  background-color : #FCB72B;
  color: white;
  font-size: 65%;
  font-weight: bold;
  border : 3px solid #FCB72B;
}
.learn-more:hover{
  outline: none;
  color: #fcb72b;
  background-color: transparent;
  border-color: #fcb72b;
}
.article_picture{
  margin-top:150px;
  width: 455px;
  height: 455px;
  border-radius: 50%;

}
.feature_pic{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
}
@media (min-width:1044px) {
  .article_container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    padding: 50px 50px;
  }
  .feature{
    height: 655px;
  }

  .picture1{
    float: right;
  }

  .article_copy{
    margin-top: 200px;
    text-align: left;
  }
  .article1{
      float: left;
  }
  h2{
    color: #495567;
    font-family:"Space Mono", monospace;
    font-weight: bold;
    font-size: 190%;
    width: 450px;
    height: 120px;
    line-height: 99%;
  }
  .article_text{
    width: 455px;
    height: 100px;
    font-size: 70%;
  }
  .learn-button{
    margin: 20px 0px;
  }
  .learn1{
    float: left;
  }
  .picture2 , .learn2{
    float: left;
  }

  .article2 {
      float: right;
  }
}
